.galaxy_map {
  width: 50%;
  height: 80%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10% 1fr 10% 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10%;
}

.planet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 80%;
  width: 100%;
}

.influenceBar {
  height: 20%;
  width: 100%;
  border: 1px solid grey;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: flex-start;
}

.influencePirate {
  height: 100%;
  width: 10%;
  background: yellow;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

.influenceEmpire {
  height: 100%;
  width: 10%;
  background: red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

.influenceRepublic {
  height: 100%;
  width: 10%;
  background: blue;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid black;
}

.sector {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.planetImg {
  width: 40%;
}

.shipOnMap {
  position: absolute;
  top: 30%;
  left: 0;
  width: 25%;
}

.selectedSector {
  border-radius: 50%;
  border: 3px dashed teal;
  -webkit-animation: rotate 3s infinite linear;
          animation: rotate 3s infinite linear;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.availableSector {
  background: teal;
}

* {
  margin: 0;
  padding: 0;
}

.actionTablet, .playerTablet, .newsTablet, .galaxy {
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.botmBar, .topBar {
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 2px solid black;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.main {
  min-height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.galaxy {
  width: 80%;
  height: 80%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newsTablet {
  height: 40vh;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.playerTablet {
  height: 40vh;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.actionTablet {
  height: 40vh;
  width: 45vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}